/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    text-align: center;
}

/* Header Section */
.header {
    background-color: #1e2a38;
    color: white;

    padding: 50px 20px;
}

.header h1 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.header p {
    margin-top: 10px;
    font-style: italic;
}

/* About Section */
.about {
    background: white;
    margin: 40px auto;
    padding: 30px;
    max-width: 75%;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Education Section */
.education {
    background: #DAF0FF;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 75%;
}

.education h2 {
    font-weight: bold;
    margin-bottom: 25px;
}

.edu-card {
    background: white;
    margin: 10px auto;
    padding: 15px 20px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Sills Section */
.skills {
    background: #F8EABC;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 75%;

}

#F8EABC .skills h2 {
    font-weight: bold;
    margin-bottom: 25px;
}

.s-card {
    background: white;
    margin: 10px auto;
    padding: 15px 20px;
    max-width: 500px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Projects Section  */
.projects {
    background: #EBE6FE;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 75%;

}

.projects h2 {
    font-weight: bold;
    margin-bottom: 25px;
}

.p-card {
    background: white;
    margin: 10px auto;
    padding: 15px 20px;
    max-width: 500px;
    border-radius: 8px;
    font-style: italic;
    /* font-weight: bold; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* CONTACT SECTION */
.contact {
    background: #D9FBE3;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 75%;

}

.contact h2 {
    font-weight: bold;
    margin-bottom: 25px;
}

.c-card {
    background: white;
    margin: 10px auto;
    padding: 15px 20px;
    max-width: 75%;
    border-radius: 8px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Footer Section */
.footer {
    background-color: #1e2a38;
    color: white;
    padding: 30px 10px;

}

.footer p {
    margin: 0;
    /* font-weight: 700; */
    letter-spacing: 1px;
}